<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <a href="/products"><button>BACK</button></a>
    <form action="/products" method="POST" class='white-box'>
      <h2>Create new product</h2>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="price">Price</label>
      <input type="number" name="price" id="price">

      <label for="image-url">Image URL</label>
      <input type="text" name="imageUrl" id="image-url">

      <label for="description">Description</label>
      <textarea type="text" name="description" id="description"></textarea>

      <button type="submit" class='edit-btn'>Create Product</button>
    </form>

  </body>
</html>
